.notes-container {
    padding: 30px;
    overflow: scroll;
    scrollbar-width: none;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 30px;

    background-color: rgb(1, 83, 1);
}

.note {
    height: 300px;

    padding: 15px;
    border-radius: 20px;

    display: flex;
    gap: 10px;
    flex-direction: column;

    position: relative;

    color: white;
    background-color: rgb(73, 107, 57);
}

.note .title {
    padding: 5px;
    border-radius: 10px;

    color: inherit;
    font-size: 30px;
}

.note .content {
    padding: 5px;
    border-radius: 10px;

    flex-grow: 1;

    overflow: scroll;
    scrollbar-width: none;
    font-size: 20px;
    background-color: white;
}

.note .change-button {
    height: 50px;
    width: 50px;

    background-color: coral;
}

.note .remove-button {
    height: 30px;
    width: 30px;
    border-radius: 50%;

    position: absolute;
    top: 25px;
    right: 15px;


    background-color: red;
}

.note .remove-button::before, .note .remove-button::after {
    height: 24px;
    width: 5px;
    border-radius: 2.5px;

    position: absolute;
    top: 50%;
    left: 50%;

    content: '';
    background-color: black;
}

.note .remove-button::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.note .remove-button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}