/* container */
.form-container {
    background-color: coral;
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* its child */
.form-title {
    font-size: 45px;
}

/* its child */
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    flex-grow: 1;
}

/* common styles for labels and inputs and their containers */
.field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form label {
    display: block;

    font-weight: 700;
    font-size: 25px;
}

.form input, .form textarea {
    width: 100%;
    padding: 1em;

    border: none;
    border-radius: 20px;

    font-size: 20px;
}

.form input {
    height: 3em;

    display: block;
}

/* content */
.content-field {
    flex-grow: 1;
}

.form-container textarea {
    height: 100%;

    resize: none;
}

/* submit button */
.form-container input[type=submit] {
    background-color: greenyellow;
}

@media screen and (max-width: 420px) {
    .form-title {
        font-size: 35px;
    }
}