/* main section styling */
/* and styles influencing layout and form/size of elements inside it */
.main {
    height: 90%;
    display: flex;
    overflow: hidden;
    border-radius: 50px;
}

.form-container {
    width: 35%;
}

.notes-container {
    width: 65%;
}

/* header */
h1.title {
    font-size: 50px;
    flex-grow: 0;
}

@media screen and (max-width: 1130px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .form-container {
        width: 100%;
    }

    .notes-container {
        width: 100%;
    }
}
