.notes-container {
    padding: 30px;
    overflow: scroll;
    scrollbar-width: none;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;

    background-color: rgb(1, 83, 1);
}

.note {
    height: 300px;
    min-width: 0;

    padding: 15px;
    border-radius: 20px;

    display: flex;
    gap: 10px;
    flex-direction: column;

    position: relative;

    color: white;
    background-color: rgb(73, 107, 57);
}

.note .title,
.note .content {
    padding: 5px;
    border-radius: 10px;
    scrollbar-width: none;
}

.note .title {
    width: 82%;
    min-height: 46px;
    max-height: 46px;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    color: inherit;
    font-size: 30px;
}

.note .content {
    flex-grow: 1;

    overflow-wrap: break-word;
    overflow: scroll;

    position: relative;

    font-size: 20px;
    background-color: white;
}

.note .change-button {
    height: 50px;
    width: 50px;

    background-color: coral;
}

.note .remove-button {
    height: 30px;
    width: 30px;
    border-radius: 50%;

    position: absolute;
    top: 22px;
    right: 15px;

    background-color: coral;
}

.note .remove-button::before,
.note .remove-button::after {
    height: 24px;
    width: 5px;
    border-radius: 2.5px;

    position: absolute;
    top: 50%;
    left: 50%;

    content: "";
    background-color: black;
}

.note .remove-button::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.note .remove-button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.note .save-changes-button {
    width: 100%;
    height: 15%;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: greenyellow;
}

@media screen and (max-width: 1400px) {
    .notes-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 640px) {
    .notes-container {
        grid-template-columns: 1fr;
    }
}
